<<<<<<< HEAD
<<<<<<< HEAD
/* Style de l'arrière-plan */
.anchor-pane {
    -fx-background-color: #e9edf1;
}

/* Style de la boîte de gauche */
.vbox {
    -fx-background-color: #1e1e2d;
}

/* Style de l'en-tête */
.text-field{
    --body-text-color: white;
}
/* Style des éléments de menu */
.menu-item {
    -fx-text-fill: #2a2a3c; /* Set the default text color */
    -fx-padding: 5px 20px; /* Espacement intérieur */
    -fx-background-color: transparent; /* Couleur de fond transparente */
    /* Remove cursor property -fx-cursor: hand; */
}

/* Style des éléments de menu au survol */
.menu-item:hover {
    -fx-background-color: #2a2a3c; /* Couleur de fond au survol */
    -fx-background-radius: 5px; /* Rayon de bordure */
    -fx-text-fill: #ffffff; /* Couleur du texte au survol */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 2); /* Effet d'ombre portée */
}

/* Style des éléments de menu sélectionnés */
.menu-item:selected {
    -fx-background-color: #3d3d50; /* Couleur de fond sélectionnée */
    -fx-background-radius: 5px; /* Rayon de bordure */
    -fx-text-fill: #ffffff; /* Couleur du texte sélectionné */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 2); /* Effet d'ombre portée */
}

.pane {
    -fx-background-color: #eff2f5;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/* Style du texte dans la zone de contenu */
.label.dashboard {
    -fx-text-fill: #181c32;
}
=======
>>>>>>> d8b843481fd76ce338451a75abbdc388be606330
=======
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a


/* Style for the event name */
.label {
<<<<<<< HEAD
<<<<<<< HEAD
    -fx-font-size: 17px;
=======
    -fx-font-size: 20px;
>>>>>>> d8b843481fd76ce338451a75abbdc388be606330
=======
    -fx-font-size: 20px;
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a
    -fx-font-weight: bold;
    -fx-text-fill: #3f3f3f;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a
/* Style for the event date */
.label.date {
    -fx-font-size: 16px;
    -fx-text-fill: #7f7f7f;
}
<<<<<<< HEAD
>>>>>>> d8b843481fd76ce338451a75abbdc388be606330
=======
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a

.button {
    -fx-background-color: #000000; /* Change button background color to black */
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px 10px 20px; /* Top Right Bottom Left */
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #FFA500; /* Change button hover background color to orange */
}

.event-card {
    -fx-background-color: #ffffff;
    -fx-padding: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.card {
    -fx-background-color: #ffffff;
    -fx-padding: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-color: transparent;
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
    -fx-background-radius: 15px; /* Add this line to make the background rounded */

    -fx-border-width: 0;
    -fx-min-width: 250px;  /* Set minimum width */
    -fx-min-height: 350px; /* Set minimum height */
    -fx-max-width: 250px;  /* Set maximum width */
    -fx-max-height: 350px; /* Set maximum height */
    -fx-alignment: center; /* Add this line */
    -fx-transition: all 0.3s ease;


}

.card:hover {
    /* Add your hover styles here */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 165, 0, 0.87), 10, 0, 0, 10);
    -fx-background-color: rgba(255, 195, 89, 0.81);
}

.card:hover .label {
    -fx-text-fill: #ffffff; /* Makes the text white */
}

.detailed-card {
    -fx-background-color: #ffffff;
    -fx-padding: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-min-width: 500px;  /* Set minimum width */
<<<<<<< HEAD
<<<<<<< HEAD
    -fx-min-height: 850px; /* Set minimum height */

    -fx-alignment: center; /* Center all elements */
    -fx-transition: all 0.3s ease;
    -fx-background-radius: 15px; /* Add this line to make the background rounded */
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
}
=======
=======
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a
    -fx-min-height: 700px; /* Set minimum height */
    -fx-max-width: 500px;  /* Set maximum width */
    -fx-max-height: 700px; /* Set maximum height */
    -fx-alignment: center; /* Center all elements */
    -fx-transition: all 0.3s ease;
}

<<<<<<< HEAD
>>>>>>> d8b843481fd76ce338451a75abbdc388be606330
=======
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a
.detailed-card:hover {
    /* Add your hover styles here */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 10);
}

.ticket-card {
    -fx-background-color: #FFA500; /* Set default background to orange */
    -fx-padding: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-width: 2px;
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
    -fx-background-radius: 15px; /* Add this line to make the background rounded */
    -fx-min-width: 350px;  /* Set minimum width */
    -fx-min-height: 400px; /* Set minimum height */
    -fx-max-width: 350px;  /* Set maximum width */
    -fx-max-height: 400px; /* Set maximum height */
    -fx-alignment: center; /* Center all elements */
    -fx-transition: all 0.3s ease;
}

.ticket-card .button {
    /* ... existing styles ... */
    width: 50%; /* Adjust as needed */
    align-self: center; /* Center the button horizontally */
    margin-top: auto; /* Push the button to the bottom */


}

.ticket-card:hover {
<<<<<<< HEAD
<<<<<<< HEAD
    -fx-background-color: #ffb337; /* Change hover background color to black */
=======
    -fx-background-color: #000000; /* Change hover background color to black */
>>>>>>> d8b843481fd76ce338451a75abbdc388be606330
=======
    -fx-background-color: #000000; /* Change hover background color to black */
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a
}

.ticket-card:hover .button {
    -fx-background-color: #FFA500; /* Change button background color to orange when ticket card is hovered */
}

.ticket-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Change text color to white */
}
.label, .button {
    -fx-alignment: center; /* Center text within the label and button */
}

#eventContainer {
    -fx-background-color: transparent !important;
    -fx-padding: 15px !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5) !important;
    -fx-border-color: transparent !important;
    -fx-border-width: 0 !important;

}

<<<<<<< HEAD
<<<<<<< HEAD

.popular-event-card {
    /* Add your styles here */
    -fx-background-color: rgb(255, 208, 108); /* Set default background to orange */
    -fx-padding: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(171, 171, 171, 0.81), 5, 0, 0, 5);
    -fx-border-width: 2px;
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
    -fx-background-radius: 15px; /* Add this line to make the background rounded */
    -fx-min-width: 290px;  /* Set minimum width */
    -fx-min-height: 150px; /* Set minimum height */
    -fx-max-width: 290px;  /* Set maximum width */
    -fx-max-height: 150px; /* Set maximum height */
    -fx-alignment: center; /* Center all elements */
    -fx-transition: all 0.3s ease;

}

.success-label {
    -fx-background-color: #ffffff; /* Change to the color you want */
    -fx-background-radius: 15; /* Optional: if you want rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 1); /* Optional: if you want a shadow effect */
}
=======
>>>>>>> d8b843481fd76ce338451a75abbdc388be606330
=======
>>>>>>> a57881855167a52432b1e5bcd5a6e4c0c07a465a
