

/* Style for the event name */
.label {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #3f3f3f;
}


.button {
    -fx-background-color: #000000; /* Change button background color to black */
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px 10px 20px; /* Top Right Bottom Left */
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #FFA500; /* Change button hover background color to orange */
}

.event-card {
    -fx-background-color: #ffffff;
    -fx-padding: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.card {
    -fx-background-color: #ffffff;
    -fx-padding: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-color: transparent;
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
    -fx-background-radius: 15px; /* Add this line to make the background rounded */

    -fx-border-width: 0;
    -fx-min-width: 250px;  /* Set minimum width */
    -fx-min-height: 350px; /* Set minimum height */
    -fx-max-width: 250px;  /* Set maximum width */
    -fx-max-height: 350px; /* Set maximum height */
    -fx-alignment: center; /* Add this line */
    -fx-transition: all 0.3s ease;


}

.card:hover {
    /* Add your hover styles here */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 165, 0, 0.87), 10, 0, 0, 10);
    -fx-background-color: rgba(255, 195, 89, 0.81);
}

.card:hover .label {
    -fx-text-fill: #ffffff; /* Makes the text white */
}

.detailed-card {
    -fx-background-color: #ffffff;
    -fx-padding: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-min-width: 500px;  /* Set minimum width */
    -fx-min-height: 850px; /* Set minimum height */

    -fx-alignment: center; /* Center all elements */
    -fx-transition: all 0.3s ease;
    -fx-background-radius: 15px; /* Add this line to make the background rounded */
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
}
.detailed-card:hover {
    /* Add your hover styles here */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 10);
}

.ticket-card {
    -fx-background-color: #FFA500; /* Set default background to orange */
    -fx-padding: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5);
    -fx-border-width: 2px;
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
    -fx-background-radius: 15px; /* Add this line to make the background rounded */
    -fx-min-width: 350px;  /* Set minimum width */
    -fx-min-height: 400px; /* Set minimum height */
    -fx-max-width: 350px;  /* Set maximum width */
    -fx-max-height: 400px; /* Set maximum height */
    -fx-alignment: center; /* Center all elements */
    -fx-transition: all 0.3s ease;
}

.ticket-card .button {
    /* ... existing styles ... */
    width: 50%; /* Adjust as needed */
    align-self: center; /* Center the button horizontally */
    margin-top: auto; /* Push the button to the bottom */


}

.ticket-card:hover {
    -fx-background-color: #ffb337; /* Change hover background color to black */
}

.ticket-card:hover .button {
    -fx-background-color: #FFA500; /* Change button background color to orange when ticket card is hovered */
}

.ticket-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Change text color to white */
}
.label, .button {
    -fx-alignment: center; /* Center text within the label and button */
}

#eventContainer {
    -fx-background-color: transparent !important;
    -fx-padding: 15px !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.16), 5, 0, 0, 5) !important;
    -fx-border-color: transparent !important;
    -fx-border-width: 0 !important;

}


.popular-event-card {
    /* Add your styles here */
    -fx-background-color: rgb(255, 208, 108); /* Set default background to orange */
    -fx-padding: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(171, 171, 171, 0.81), 5, 0, 0, 5);
    -fx-border-width: 2px;
    -fx-border-radius: 15px; /* Add this line to make the border rounded */
    -fx-background-radius: 15px; /* Add this line to make the background rounded */
    -fx-min-width: 290px;  /* Set minimum width */
    -fx-min-height: 150px; /* Set minimum height */
    -fx-max-width: 290px;  /* Set maximum width */
    -fx-max-height: 150px; /* Set maximum height */
    -fx-alignment: center; /* Center all elements */
    -fx-transition: all 0.3s ease;

}

.success-label {
    -fx-background-color: #ffffff; /* Change to the color you want */
    -fx-background-radius: 15; /* Optional: if you want rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 1); /* Optional: if you want a shadow effect */
}


