
#Addresse, #NumTel {
    -fx-font-size: 12px; /* Smaller font size */
}

#PaneActivite {
    -fx-width: 300px;
    -fx-height: 220px;
    -fx-border-radius: 8px;
    -fx-padding: 20px 30px;
    -fx-position: relative;
    -fx-overflow: hidden;
    -fx-background-color: #b2b2b2;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    /* Add transition for smoother hover effect */
    -fx-transition: all 0.3s ease;
}

/* Style du titre */
#name {
    -fx-font-size: 1.2em; /* Taille de police */
    -fx-font-weight: bold; /* Gras */
    -fx-text-fill: #ffffff; /* Couleur du texte */
}

/* Style des étiquettes */
.label{

    -fx-text-fill: #ffffff; /* Darker text color for better contrast */

}


/* Add hover effect for Pane */
#PaneActivite:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 15,0,0,2 );
    -fx-background-color: #fd9900;
}


