#detail,#detail1 {
    -fx-background-color: #cbc6c6;
    -fx-background-radius: 20px; /* Adjust as needed */
}

#detail:hover,#detail1:hover {
    -fx-background-color: #ff9e37;
    -fx-background-radius: 20px; /* Adjust as needed */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);

}
#list   {
    -fx-background-color: transparent;

}
#salleACTIVITE,#GridActivite {
    -fx-background-color: transparent;
}

#reserver,#annuler{
        -fx-background-color: #000000;
        -fx-background-radius: 20px; /* Adjust as needed */
        -fx-text-fill: #ffffff;
}

#reserver:hover,#annuler:hover {
        -fx-background-color: #656161;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}
#aloo {
    -fx-background-color: #cbc6c6;
    -fx-background-radius: 14px; /* Adjust as needed */
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#aloo:hover {
    -fx-background-color: #ff9e37;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 10, 0, 0, 0);
}


