#switchToSpeechButton {
    -fx-background-color: orange;
    -fx-pref-height: 50px;
    -fx-pref-width: 232px;
}

#switchToTextButton {
    -fx-background-color: orange;
    -fx-pref-height: 50px;
    -fx-pref-width: 232px;
}