#prettyPane {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: #f0f0f0; /* Light gray background */
    -fx-padding: 10px; /* Padding inside the border */
}
.label {
    -fx-font-size: 13px; /* Adjust the font size */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-text-fill: #333333; /* Dark gray color */
}
#commentLabel {
    -fx-border-color: #ccc; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 4px; /* Border radius for rounded corners */
    -fx-background-color: #f8f8f8; /* Background color */
    -fx-font-size: 16px; /* Font size */
    -fx-text-fill: #333333; /* Text color */
    -fx-font-family: "Arial"; /* Font family */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1); /* Shadow effect */
}
#commentLabel:focused {
    -fx-focus-color: transparent; /* Removes the blue border */
    -fx-faint-focus-color: transparent; /* Removes the faint blue border */
}
#editButton, #deleteButton, #saveButton, #backButton,#reponseButton{
    -fx-font-size: 14px; /* Adjust the font size */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-text-fill: #ffffff; /* White color text */
    -fx-padding: 5px; /* Space around the text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Background also needs to be rounded */
}
#reponseButton{
    -fx-background-color: #ffc107; /* Yellow background */
}
#reponseButton:hover {
    -fx-background-color: #e0a800; /* Darker yellow when hovered */
}

#editButton {
    -fx-background-color: #28a745; /* Green background */
}

#editButton:hover {
    -fx-background-color: #218838; /* Darker green when hovered */
}
#saveButton {
    -fx-background-color: #007bff; /* Blue background */
}
#saveButton:hover {
    -fx-background-color: #0056b3; /* Darker blue when hovered */
}

#deleteButton {
    -fx-background-color: #dc3545; /* Red background */
}

#deleteButton:hover {
    -fx-background-color: #c82333; /* Darker red when hovered */
}
#backButton {
    -fx-background-color: #939b9d; /* Gray background */
}
#backButton:hover {
    -fx-background-color: #5a6268; /* Darker gray when hovered */
}
#title {
    -fx-font-size: 20px; /* Adjust the font size */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-text-fill: #000000; /* Blue color text */
    -fx-underline: true; /* Underline the text */
    -fx-padding: 5px; /* Space around the text */
}